/* Form and submit button styling */
.form-control {
	color: grey;
	background: #222222;
}

.form-control:focus {
	color: black;
	background: white;
	border-color: grey;
	box-shadow: none;
}

.btn-default {
	color: grey;
	background: #222222;
}

.btn-default:hover {
	color: white;
	background: #222222;
}

.btn-default:focus {
	color: white;
	background: #222222;
}